

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Lebedev Wedding";

}


        <h1>@ViewBag.WhatsHappening</h1>

        <h3>The Deets:</h3>
        <div>
            @Html.Raw(ViewBag.Description)
        <br />
        <br />
    </div>
    <div>@ViewBag.WeddingDate</div>

    @if (ViewBag.Venues.Length > 0) //will only display if the array has values
    {
    <h5>Location</h5>
    <div>
        <ul>
            @foreach (var venue in ViewBag.Venues)
            {
               <li>@venue</li>
            }
        </ul>
    </div>
    }

  